<a href="https://colab.research.google.com/github/lekaarakaki/curso-AL/blob/main/C%C3%B3pia_de_introdu%C3%A7%C3%A3o_a_collections.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
idade1 = 39
idade2 = 30
idade3 = 27

print(idade1)
print(idade2)
print(idade3)

39
30
27

In [ ]:
idades = [39, 30, 27, 18]

In [ ]:
type(idades)

list

In [ ]:
len(idades)

4

In [ ]:
idades[0]

39

In [ ]:
idades

15

In [ ]:
print(idades[1])
print(idades[2])
print(idades[3])

30
27
18

In [ ]:
idades.append(15)

In [ ]:
idades

[39, 30, 27, 18, 15]

In [ ]:
for idade in idades:
  print(idade)

39
30
27
18
15

In [ ]:
idades.remove(30)

In [ ]:
idades

[39, 27, 18, 15]

In [ ]:
idades.append(15)
idades.append(15)

In [ ]:
idades

[39, 27, 18, 15, 15, 15, 15]

In [ ]:
idades.remove(15)
idades.remove(15)

In [ ]:
idades

[39, 27, 18, 15, 15]

In [ ]:
idades.remove(15)

In [ ]:
idades.clear()

In [ ]:
idades

[]

In [ ]:
idades = [39, 27, 18, 15]

In [ ]:
28 in idades

False

In [ ]:
15 in idades

True

In [ ]:
if 15 in idades:
  idades.remove(15)

In [ ]:
idades

[39, 27, 18]

In [ ]:
idades.append(19)
idades

[39, 27, 18, 19, 19]

In [ ]:
idades.remove(19)

In [ ]:
idades = [20, 39, 18]

In [ ]:
idades.append([27, 19])

In [ ]:
idades

[20, 39, 18, [27, 19]]

In [ ]:
for elemento in idades:
  print ('recebi o elemento: ', elemento)

recebi o elemento:  20
recebi o elemento:  39
recebi o elemento:  18
recebi o elemento:  [27, 19]

In [ ]:
idades = [20, 39, 18]
idades.extend([27, 19])
idades

[20, 39, 18, 27, 19]

In [ ]:
for idade in idades:
  print(idade +1)

21
40
19
28
20

In [ ]:
idades_no_ano_que_vem = []
for idade in idades:
  idades_no_ano_que_vem.append(idade+1)
idades_no_ano_que_vem

[21, 40, 19, 28, 20]

In [ ]:
idades_no_ano_que_vem = [(idade+1) for idade in idades]
idades_no_ano_que_vem

[21, 40, 19, 28, 20]

In [ ]:
[(idade) for idade in idades if idade > 21]

[39, 27]

In [ ]:
idades

[20, 39, 18, 27, 19]

In [ ]:
def proximo_ano(idade):
  return idade+1
[proximo_ano(idade) for idade in idades if idade>21 ]

[40, 28]

In [ ]:
def faz_processamento_de_visualizacao(lista):
  print(len(lista))
  lista.append(13)

In [ ]:
idades = [16, 21, 39, 56, 43]
faz_processamento_de_visualizacao(idades)
idades

5

[16, 21, 39, 56, 43, 13]

In [ ]:
def faz_processamento_de_visualizacao(lista = []):
  print(len(lista))
  print(lista)
  lista.append(13)

In [ ]:
faz_processamento_de_visualizacao()

0
[]

In [ ]:
faz_processamento_de_visualizacao()

1
[13]

In [ ]:
faz_processamento_de_visualizacao()

2
[13, 13]

In [ ]:
faz_processamento_de_visualizacao()

3
[13, 13, 13]

In [ ]:
def faz_processamento_de_visualizacao(lista = list()):
  print(len(lista))
  print(lista)
  lista.append(13)

In [ ]:
faz_processamento_de_visualizacao()
faz_processamento_de_visualizacao()

0
[]
1
[13]

In [ ]:
def faz_processamento_de_visualizacao(lista = None):
  if lista == None:
    lista = list()
  print(len(lista))
  print(lista)
  lista.append(13)

In [ ]:
faz_processamento_de_visualizacao()
faz_processamento_de_visualizacao()
faz_processamento_de_visualizacao()

0
[]
0
[]
0
[]

In [ ]:
class contacorrente:
  def __init__(self, codigo):
    self.codigo = codigo
    self.saldo = 0

  def deposita(self, valor):
    self.saldo += valor
  
  def __str__(self):
    return"[>>codifo {} saldo {} <<]".format(self.codigo, self.saldo)

In [ ]:
conta_do_gui = contacorrente(15)
print(conta_do_gui)

[>>codifo 15 saldo 0 <<]

In [ ]:
conta_do_gui.deposita(500)
print(conta_do_gui)

[>>codifo 15 saldo 500 <<]

In [ ]:
conta_da_dani = contacorrente(478685)
conta_da_dani.deposita(1000)
print(conta_da_dani)

[>>codifo 478685 saldo 1000 <<]

In [ ]:
contas = [conta_do_gui, conta_da_dani]
for conta in contas:
  print(conta)

[>>codifo 15 saldo 500 <<]
[>>codifo 478685 saldo 1000 <<]

In [ ]:
contas = [conta_do_gui, conta_da_dani, conta_do_gui]

In [ ]:
print(contas[0])

[>>codifo 15 saldo 500 <<]

In [ ]:
conta_do_gui.deposita(100)

In [ ]:
print(contas[0])

[>>codifo 15 saldo 600 <<]

In [ ]:
print(conta_do_gui)

[>>codifo 15 saldo 600 <<]

In [ ]:
print(contas[2])

[>>codifo 15 saldo 600 <<]

In [ ]:
contas[2].deposita(300)

In [ ]:
print(contas[2])

[>>codifo 15 saldo 900 <<]

In [ ]:
def deposita_para_todas(contas):
  for conta in contas:
    conta.deposita(100)
contas = [conta_do_gui, conta_da_dani]
print(contas[0], contas[1])
deposita_para_todas(contas)
print(contas[0], contas[1])

[>>codifo 15 saldo 1000 <<] [>>codifo 478685 saldo 1100 <<]
[>>codifo 15 saldo 1100 <<] [>>codifo 478685 saldo 1200 <<]

In [ ]:
contas.insert(0, 76)
print(contas[0], contas[1], contas[2])

76 [>>codifo 15 saldo 1100 <<] [>>codifo 478685 saldo 1200 <<]

In [ ]:
deposita_para_todas(contas)
print(contas[0], contas[1], contas[2])

AttributeError: ignored

#tuplas
#geralmente usadas com a intenção do proimeiro topico
* a posição é importante
* os valores são imutaveis 
** é comim que a tupla vire uma classe com três métodos;

° normalmente se usa uma variação funcional para manipular os valores e não uma variação orientada a objetos

In [ ]:
guilherme = ('guilherme', 37, 1981)
daniela = ('daniela', 31, 1987)

In [ ]:

def deposita(conta):# variação "funcional" (separando o comportamento dos dados)
  novo_saldo = conta[1] + 100
  codigo  = conta[0]
  return (codigo, novo_saldo)

In [ ]:
conta_do_gui = (15, 1000)

In [ ]:
deposita(conta_do_gui)

(15, 1100)

In [ ]:
conta_do_gui

(15, 1000)

In [ ]:
conta_do_gui = deposita(conta_do_gui)
conta_do_gui

(15, 1100)

In [ ]:
usuarios = [guilherme, daniela]
usuarios

[('guilherme', 37, 1981), ('daniela', 31, 1987)]

In [ ]:
usuarios.append(('paulo', 39, 1979))

In [ ]:
usuarios

[('guilherme', 37, 1981), ('daniela', 31, 1987), ('paulo', 39, 1979)]

In [ ]:
usuarios[0][0]

'guilherme'

In [ ]:
conta_do_gui = contacorrente(15)
conta_do_gui.deposita(500)
conta_da_dani = contacorrente(234876)
conta_da_dani.deposita(1000)

contas = (conta_do_gui, conta_da_dani)

In [ ]:
for conta in contas:
  print(conta)

[>>codifo 15 saldo 500 <<]
[>>codifo 234876 saldo 1000 <<]

In [ ]:
contas[0].deposita(300)

In [ ]:
for conta in contas:
  print(conta)

[>>codifo 15 saldo 800 <<]
[>>codifo 234876 saldo 1000 <<]

#herança e polimorfismo

In [ ]:
from abc import ABCMeta, abstractmethod
class Contas(metaclass=ABCMeta ):
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def deposita(self, valor):
    self._saldo += valor

  @abstractmethod
  def passa_o_mes(self):
    pass
  
  def __str__(self):
    return "[>>> código {} saldo {} <<<]".format(self._codigo, self._saldo)

In [ ]:
print(contas(88))

NameError: ignored

In [ ]:
class ContaCorrente(Contas):

  def passa_o_mes(self):
    self._saldo -= 2 


class ContaPoupanca(Contas):

  def passa_o_mes(self):
    self._saldo *= 1.01
    self._saldo -= 3 

class ContaInvestimento(contas):
  pass

NameError: ignored

In [ ]:
conta16 = ContaCorrente(16)
conta16.deposita(1000)
conta16.passa_o_mes()
print(conta16)

[>>> código 16 saldo 998 <<<]

In [ ]:
conta17= ContaPoupanca(17)
conta17.deposita(1000)
conta17.passa_o_mes()
print(conta17)

[>>> código 17 saldo 1007.0 <<<]

In [ ]:
conta16 = ContaCorrente(16)
conta16.deposita(1000)
conta17= ContaPoupanca(17)
conta17.deposita(1000)
contas = [conta16, conta17 ]

for conta in contas:
  conta.passa_o_mes()
  print(conta)

[>>> código 16 saldo 998 <<<]
[>>> código 17 saldo 1007.0 <<<]

# evitamos usar array puro, se precisamos de trabalhos numericos, usamos numpy

In [ ]:
import array as arr

arr.array ('d', [1, 3.5])

array('d', [1.0, 3.5])

In [ ]:
import numpy as np

numeros = np.array([1, 3.5])
numeros

array([1. , 3.5])

In [ ]:
numeros + 3

array([4. , 6.5])

In [ ]:
class ContaSalario:
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):
    return self._codigo == outro._codigo

  def deposita(self, valor):
    self._saldo += valor

  def __str__(self):
    return "[>>> cofigo {} saldo {} <<<]".format(self._codigo, self._saldo )

In [ ]:
conta1 = ContaSalario(37)
conta2 = ContaSalario(37)
conta1 == conta2

True

In [ ]:
conta1 != conta2

False

In [ ]:
conta1 in [conta2]

True

In [ ]:
conta2 in [conta1]

True

In [ ]:
class ContaSalario:
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):
    return self._codigo == outro._codigo and self._saldo == outro._saldo

  def deposita(self, valor):
    self._saldo += valor

  def __str__(self):
    return "[>>> cofigo {} saldo {} <<<]".format(self._codigo, self._saldo )

In [ ]:
conta1 = ContaSalario(37)
conta2 = ContaSalario(37)
conta1 == conta2

True

In [ ]:
conta1.deposita(10)

In [ ]:
conta1 == conta2

False

In [ ]:
class ContaSalario:
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False 
    return self._codigo == outro._codigo and self._saldo == outro._saldo

  def deposita(self, valor):
    self._saldo += valor

  def __str__(self):
    return "[>>> cofigo {} saldo {} <<<]".format(self._codigo, self._saldo )

In [ ]:
conta1 = ContaSalario(37)
conta2 = ContaCorrente(37)

In [ ]:
conta1 == conta2

False

In [ ]:
isinstance(ContaCorrente(34), ContaCorrente)

True

In [ ]:
isinstance(ContaCorrente(34), Contas)

True

In [ ]:
idades = [15, 87, 32, 65, 56, 32, 49, 37]
for i in range(len(idades)):
  print(i, idades[i])

0 15
1 87
2 32
3 65
4 56
5 32
6 49
7 37

In [ ]:
range(len(idades))

range(0, 8)

In [ ]:
list(range(len(idades)))

[0, 1, 2, 3, 4, 5, 6, 7]

In [ ]:
list(enumerate(idades))

[(0, 15), (1, 87), (2, 32), (3, 65), (4, 56), (5, 32), (6, 49), (7, 37)]

In [ ]:
for indice, idade in enumerate(idades):
  print(indice," x ",  idade)

0  x  15
1  x  87
2  x  32
3  x  65
4  x  56
5  x  32
6  x  49
7  x  37

In [ ]:
usuarios = [
            ('gulherme', 37, 1981), 
            ('daniela', 31, 1987), 
            ('paulo', 39, 1979)
]
for nome, idade, nascimento in usuarios:
  print(nome)

gulherme
daniela
paulo

In [ ]:
usuarios = [
            ('gulherme', 37, 1981), 
            ('daniela', 31, 1987), 
            ('paulo', 39, 1979)
]
for nome, _, _ in usuarios:
  print(nome)

gulherme
daniela
paulo

In [ ]:
idades

[15, 87, 32, 65, 56, 32, 49, 37]

In [ ]:
sorted(idades)

[15, 32, 32, 37, 49, 56, 65, 87]

In [ ]:
list(reversed(idades))

[37, 49, 32, 56, 65, 32, 87, 15]

In [ ]:
sorted(idades, reverse = True)

[87, 65, 56, 49, 37, 32, 32, 15]

In [ ]:
list(reversed(sorted(idades)))

[87, 65, 56, 49, 37, 32, 32, 15]

In [ ]:
idades.sort()

In [ ]:
idades

[15, 32, 32, 37, 49, 56, 65, 87]

In [ ]:
nomes = ['Guilherme', 'Daniela', 'Paulo']
sorted(nomes)

['Daniela', 'Guilherme', 'Paulo']

In [ ]:
class ContaSalario:
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):
    return self._codigo == outro._codigo and self._saldo == outro._saldo

  def deposita(self, valor):
    self._saldo += valor

  def __str__(self):
    return "[>>> cofigo {} saldo {} <<<]".format(self._codigo, self._saldo )

In [ ]:
conta_do_guilherme = ContaSalario(17)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(1000)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(510)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

In [ ]:
for conta in contas:
   print(conta)

[>>> cofigo 17 saldo 500 <<<]
[>>> cofigo 3 saldo 1000 <<<]
[>>> cofigo 133 saldo 510 <<<]

In [ ]:
def extrai_saldo(conta):
  return conta._saldo

for conta in sorted(contas, key=extrai_saldo):
  print(conta)

[>>> cofigo 17 saldo 500 <<<]
[>>> cofigo 133 saldo 510 <<<]
[>>> cofigo 3 saldo 1000 <<<]

In [ ]:
from operator import attrgetter
for conta in sorted(contas, key=attrgetter("_saldo")):
  print(conta)

[>>> cofigo 17 saldo 500 <<<]
[>>> cofigo 133 saldo 510 <<<]
[>>> cofigo 3 saldo 1000 <<<]

In [ ]:
class ContaSalario:
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):
    return self._codigo == outro._codigo and self._saldo == outro._saldo

  def __lt__(self, outro):
    return self._saldo < outro._saldo

  def deposita(self, valor):
    self._saldo += valor

  def __str__(self):
    return "[>>> cofigo {} saldo {} <<<]".format(self._codigo, self._saldo )

In [ ]:
conta_do_guilherme = ContaSalario(17)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(1000)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(510)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

In [ ]:
conta_do_guilherme < conta_da_daniela

True

In [ ]:
conta_do_guilherme > conta_da_daniela

False

In [ ]:
for conta in sorted(contas):
  print(conta)

[>>> cofigo 17 saldo 500 <<<]
[>>> cofigo 133 saldo 510 <<<]
[>>> cofigo 3 saldo 1000 <<<]

In [ ]:
conta_do_guilherme = ContaSalario(1700)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(500)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(500)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

In [ ]:
for conta in sorted(contas, key=attrgetter("_saldo", "_codigo")):
  print(conta)

[>>> cofigo 3 saldo 500 <<<]
[>>> cofigo 133 saldo 500 <<<]
[>>> cofigo 1700 saldo 500 <<<]

In [ ]:
class ContaSalario:
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):
    return self._codigo == outro._codigo and self._saldo == outro._saldo

  def __lt__(self, outro):
    if self._saldo != outro._saldo:
      return self._saldo < outro._saldo
    return self._codigo < outro._codigo

  def deposita(self, valor):
    self._saldo += valor

  def __str__(self):
    return "[>>> cofigo {} saldo {} <<<]".format(self._codigo, self._saldo )

In [ ]:
for conta in sorted(contas):
  print(conta)

[>>> cofigo 1700 saldo 500 <<<]
[>>> cofigo 3 saldo 500 <<<]
[>>> cofigo 133 saldo 500 <<<]

In [ ]:
conta_do_guilherme = ContaSalario(1700)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(1000)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(510)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

In [ ]:
for conta in sorted(contas):
  print(conta)

[>>> cofigo 1700 saldo 500 <<<]
[>>> cofigo 133 saldo 510 <<<]
[>>> cofigo 3 saldo 1000 <<<]

In [ ]:
conta_do_guilherme = ContaSalario(1700)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(500)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(500)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

In [ ]:
for conta in sorted(contas):
  print(conta)

[>>> cofigo 3 saldo 500 <<<]
[>>> cofigo 133 saldo 500 <<<]
[>>> cofigo 1700 saldo 500 <<<]

In [ ]:
 from functools import total_ordering
 @total_ordering
 class ContaSalario:
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):
    return self._codigo == outro._codigo and self._saldo == outro._saldo

  def __lt__(self, outro):
    if self._saldo != outro._saldo:
      return self._saldo < outro._saldo
    return self._codigo < outro._codigo

  def deposita(self, valor):
    self._saldo += valor

  def __str__(self):
    return "[>>> cofigo {} saldo {} <<<]".format(self._codigo, self._saldo )

In [ ]:
conta_do_guilherme = ContaSalario(1700)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(1000)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(510)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

In [ ]:
conta_do_guilherme <= conta_da_daniela

True